.nav {
    height: 101px;
    width: 1200px;
    margin: 0 auto;
}

.body {
    background-color: #f3f5f7;
}

.img-logo {
    height: 39px;
    width: 170px;
    margin: 33px 14px 0 0;
    float: left;
}

.navHead {
    padding-left: 50px;
    float: left;
    width: 283px;
}

.navSearch {
    margin-left: 190px;
    float: left;
    width: 411px;
    height: 40px;
    background-color: #00A4FF;
    margin-top: 31px;
}

.navFont {
    margin: 44px 37px 0 0;
    color: black;
    float: left;
    height: 36px;
    width: 54px;
    font-size: 18px;
    border-bottom: 2px none;
}
.navFont-3 {
    margin: 44px 0 0 0;
    color: black;
    float: right;
    height: 36px;
    width: 94px;
    font-size: 18px;
    border-bottom: 2px none;
}

.navHead a {
    text-align: center;
}

.navHead a:hover {
    font-size: 18px;
    color: black;
    border-bottom: 2px #00A4FF solid;
}

.personalCenter {
    width: 90px;
    float: left;
    height: 101px;
}

.personalCenter a {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 44px;
    font-size: 12px;
    float: right;
}

.form {
    float: left;
    margin: 31px 0 0 160px;
}

.search {
    height: 38.4px;
    width: 359.4px;
    float: left;
    vertical-align: bottom;
}

.submit {
    height: 40px;
    width: 50px;
    float: left;
    vertical-align: bottom;
    cursor: pointer;
    background-image: url(imgs/10.png);
}

.body-one {
    width: 100%;
    height: 420px;
    /* background-color: #1C036C; */
    position: relative;
    /* margin: 0 auto; */
}
.under{
    height: 420px;
    width: 1200px;
    margin: 0 auto;
}
.top{
    background-color: #1C036C;
    position: absolute;
    top: 0;
    left: 0;
    height: 420px;
    width: 100%;
}
.picture {
    display: block;
    /* float: left; */
    margin: 0 auto;
    padding-left: 100px;
}

.nav2 {
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 10.5%;
}

.nav2 li {
    width: 150px;
    margin-left: 20px;
    margin-top: 23px;
}

.nav2 a {
    color: #fff;
    font-family: MicrosoftYaHei;
    font-size: 14px;
}

.nav2 a:hover {
    color: #00B4FF;
    font-family: MicrosoftYaHei;
    font-size: 14px;
}

.row {
    float: right;
}

.body-two {
    width: 1200px;
    height: 60px;
    margin: auto;
    margin-top: 8px;
    background-color: #fff;
}

.shadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.5) 0.1px 0.3px 1px;
}

.check a {
    color: #00B4FF;
    font-size: 18px;
    float: left;
}
.middle a{
    color: black;
}
.middle a:hover{
    color: #00B4FF;

}

.body-two li {
    float: left;
    width: 100px;
    font-size: 18px;
    margin-top: 20px;
    vertical-align: bottom;
    line-height: 13px;
}

.introduce a{
    color: #00B4FF;
    padding-left: 23px;
    /* margin-right: 30px; */
    font-weight: bold;
    font-family: MicrosoftYaHei-Bold;
}
.JQuery{
    margin-left: 30px;
}
.middle {
    /* margin-left: 30px; */
    padding-left: 30px;
    border-left: solid 0.5px black;
    height: 16px;
    vertical-align: bottom;
}

.check {
    padding-left: 170px;
}

.body-three {
    margin: 0 auto;
    padding-top: 40px;
    font-size: 20px;
    width: 1200px;
    height: 50px;
}

.excellentIntroduce {
    display: inline-block;
    color: #494949;
}

.seeAll {
    color: #A5A5A5;
    font-size: 12px;
    float: right;
    padding-top: 7px;
    margin-right: 30px;
}

.body-four {
    height: 555px;
    width: 1200px;
    margin: 0 auto;
}

.imgFour {
    float: left;
    width: 227px;
    height: 157px;
    margin-right: 16px;
}

.boxFour {
    float: left;
    width: 227px;
    height: 115px;
    margin-bottom: 15px;
    background-color: #fff;
    margin-right: 16px;
}

.boxFour-end {
    float: left;
    width: 227px;
    height: 115px;
    margin-bottom: 15px;
    background-color: #fff;
}

.imgFour-end {
    float: left;
    width: 227px;
    height: 157px;
}

.boxFour-text1 {
    margin: 20px 0 18px 25px;
    width: 185px;
    height: 37px;
}

.boxFour-text1 a {
    font-size: 14px;
    color: black;
}

.boxFour-text2 {
    width: 119px;
    height: 13px;
    margin-left: 23px;
    font-size: 12px;
}

.advanced {
    color: #FF7C2D;
}

.studyCounts {
    color: #999999;
}

.body-five {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    display: block;
    padding: 50px 0 10px 0;
}

.body-five-title {
    font-size: 20px;
    color: #494949;
    float: left;
    padding-right: 295px;
}

.body-five-choices {
    float: left;
    width: 450px;
}

.body-five-choices li {
    float: left;
    color: #868686;
    padding-right: 70px;
    padding-top: 5px;
}
.body-five-choices a{
    color: black;
}
.body-five-choices a:hover {
    color: #00B4FF;
}

.body-five-choices-end a {
    padding-right: 0;
}

.body-five-seeAll a {
    color: #A5A5A5;
    float: right;
    font-size: 12px;
    padding: 10px 30px 0 0;
}

.body-six {
    width: 1200px;
    height: 285px;
    margin: 0 auto;
}

.body-seven {
    width: 1200px;
    height: 88px;
    margin: 0 auto;
}

.body-seven-text {
    line-height: 88px;
    font-size: 20px;
    color: #494949;
}

.body-eight {
    width: 1200px;
    height: 393px;
    margin: 0 auto;
}

.body-eight-1 {
    width: 472px;
    height: 320px;
    float: left;
    overflow: hidden;
    position: relative;
}

.float {
    position: absolute;
    top: 99px;
    left: 25px;
}

.float-1 {
    color: #F9E103;
    font-size: 30px;
    font-weight: bold;
}

.float-2 {
    font-size: 27px;
    color: #fff;
}

.float-3 {
    height: 25px;
    width: 87px;
    background-color: rgb(41, 40, 38);
    margin-top: 10px;
}

.body-eight-234 {
    width: 230px;
    height: 320px;
    float: left;
    overflow: hidden;
    position: relative;
}

.clickToSee {
    color: #F9E103;
    cursor: pointer;
}

.img123 {
    padding-right: 12px;
}

.blackBackground {
    height: 122px;
    width: 228px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
}

.information-1 {
    position: absolute;
    top: 219px;
    left: 29px;
    width: 115px;
    height: 20px;
}

.information-1 p {
    color: #fff;
}

.profession {
    float: right;
    font-size: 14px;
    padding-top: 4px;
}

.teacher {
    font-size: 18px;
    font-weight: bold;
}

.information-2 {
    width: 175px;
    height: 55px;
    position: absolute;
    top: 250px;
    left: 25px;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
}

.box-end {
    width: 100%;
    height: 420px;
    background-color: #fff;
}

.advertisement {
    float: left;
    width: 400px;
    height: 200px;
    padding-top: 130px;
    padding-left: 170px;
}

.logo {
    color: #00A4FF;
    font-size: 36px;
    font-weight: bold;
}

.logo-under {
    font-size: 12px;
    margin: 37px 0 33px 0;
}

.download {
    width: 120px;
    height: 35px;
    background-color: #fff;
    cursor: pointer;
}

.download p {
    color: #00A4FF;
}

.about {
    padding-top: 133px;
    float: left;
    margin-left: 220px;
}

.guidence {
    padding-top: 133px;
    float: left;
    margin-left: 145px;
}

.co-work {
    padding-top: 133px;
    float: left;
    margin-left: 145px;
}

.guidence a {
    color: #333333;
    font-size: 12px;
    font-family: SimSun;
}

.co-work a {
    color: #333333;
    font-size: 12px;
    font-family: SimSun;
}

.about a {
    color: #333333;
    font-size: 12px;
    font-family: SimSun;
}

.li-header {
    color: #333333;
    font-size: 16px;
    padding-bottom: 7px;
}